* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

body {
  background-color: #282828;
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__center {
  max-width: 1280px;
  min-width: 300px;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 35px #041855;
          box-shadow: 0px 0px 35px #041855;
  padding-bottom: 30px;
}

.botonera {
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 20px 0px;
  width: 100%;
}
.botonera input {
  padding: 5px;
  height: 45px;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
}
.botonera input:hover {
  background: black;
  border-bottom: 2px solid #34eefd;
  color: white;
  text-shadow: 0px 0px 8px #34eefd, 0px 0px 20px white;
}

.headerGrid {
  display: -ms-grid;
  display: grid;
  background: rgba(0, 0, 0, 0.9);
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
      grid-template-areas: "headerGrid__logo headerGrid__textLogo headerGrid__textLogo";
}
.headerGrid .headerGrid__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerGrid__logo;
}
@media only screen and (min-width: 768px) {
  .headerGrid .headerGrid__logo {
    display: Flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 215px;
  }
}

.headerGrid__textLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: headerGrid__textLogo;
  color: #34eefd;
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-stroke: 1px black;
  -webkit-animation-name: text_logo_anime;
          animation-name: text_logo_anime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.headerGrid__textLogo h1 {
  font-family: "Black Ops One", cursive;
  font-size: 9vw;
}
@media (min-width: 1280px) {
  .headerGrid__textLogo h1 {
    font-size: 115px;
  }
}
@-webkit-keyframes text_logo_anime {
  0% {
    text-shadow: 0px 0px 20px #0196a6;
  }
  50% {
    text-shadow: 0px 0px 3px white;
  }
  100% {
    text-shadow: 0px 0px 20px #0196a6;
  }
}
@keyframes text_logo_anime {
  0% {
    text-shadow: 0px 0px 20px #0196a6;
  }
  50% {
    text-shadow: 0px 0px 3px white;
  }
  100% {
    text-shadow: 0px 0px 20px #0196a6;
  }
}

.headerGrid img {
  width: 100%;
  padding: 3px;
  max-height: 215px;
}
@media only screen and (min-width: 768px) {
  .headerGrid img {
    width: 200px;
    display: Flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: rgba(0, 0, 0, 0.3);
}
nav a {
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 2px;
  height: 50px;
  text-decoration: none;
  color: #34eefd;
  font-family: "Bungee", cursive;
  font-size: 13px;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: white;
  font-size: 16px;
  text-shadow: 0px 0px 8px #34eefd, 0px 0px 20px white;
  background-color: black;
  -webkit-box-shadow: 0px 0px 20px #0196a6;
          box-shadow: 0px 0px 20px #0196a6;
}
@media only screen and (min-width: 768px) {
  nav a {
    width: 20%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 50px;
    overflow: hidden;
  }
}

main h1 {
  color: #0196a6;
  text-align: center;
  font-family: "Black Ops One", cursive;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 0px 5px black;
  font-weight: 50;
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  main h1 {
    font-size: 50px;
  }
}

.gridUniv {
  display: -ms-grid;
  display: grid;
  margin: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
      grid-template-areas: "gridUniv__1" "gridUniv__2";
}
.gridUniv .gridUniv__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gridUniv__1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  color: #34eefd;
  text-shadow: 0px 0px 5px black;
  padding: 20px;
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gridUniv .gridUniv__1 h3 {
  font-size: 1.5rem;
  color: #0196a6;
}
.gridUniv .gridUniv__1 li {
  font-size: 1rem;
  color: blanchedalmond;
}
.gridUniv .gridUniv__1 p {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .gridUniv .gridUniv__1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .gridUniv .gridUniv__1 {
    font-size: 25px;
    padding: 10px;
  }
}
.gridUniv .gridUniv__2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gridUniv__2;
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.gridUniv .gridUniv__2 picture img {
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 500px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gridUniv .gridUniv__2 picture img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 10px 10px 10px #041855;
          box-shadow: 10px 10px 10px #041855;
  z-index: 1;
}
.gridUniv .gridUniv__2 p {
  color: white;
  text-shadow: 0px 0px 5px black;
}
@media (min-width: 900px) {
  .gridUniv {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin-left: 5%;
    margin-right: 5%;
        grid-template-areas: "gridUniv__1 gridUniv__2";
  }
  .gridUniv .gridUniv__1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gridUniv .gridUniv__2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

.formulario {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 10px 10%;
  padding: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
      grid-template-areas: "formulario__consulta formulario__respuesta" "none formulario__botonera";
}
.formulario .formulario__consulta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #34eefd;
  text-shadow: 0px 0px 5px black;
  grid-area: formulario__consulta;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}
.formulario .formulario__consulta label {
  padding: 0px 10px;
}
.formulario .formulario__respuesta {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: formulario__respuesta;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.formulario .formulario__respuesta input, .formulario .formulario__respuesta select {
  width: 100%;
  background: black;
  color: #34eefd;
}
.formulario .formulario__botonera {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: formulario__botonera;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}
.formulario .formulario__botonera input {
  padding: 5px;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
}
.formulario .formulario__botonera input:hover {
  background: black;
  border-bottom: 2px solid #34eefd;
  color: white;
  text-shadow: 0px 0px 8px #34eefd, 0px 0px 20px white;
}

#advertencia {
  font-size: 1.5rem;
  color: white;
  -webkit-text-stroke: 1px red;
  margin: 10px 10%;
  padding: 10px;
  background-color: rgba(0, 183, 255, 0.199);
}
#advertencia p {
  font-family: "Bungee", cursive;
}

footer {
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.75);
  color: #0196a6;
  position: fixed;
  bottom: 0%;
  width: 100%;
  max-width: 1280px;
  height: 30px;
  border-top: 2px solid #2e5a96;
}