// Scooter Light Shade 01
$color_celeste-1: rgb(52, 238, 253);
$color_celeste-2: rgb(6, 214, 232);
$color_celeste-3: rgb(1, 182, 198);
$color_celeste-4: rgb(1, 150, 166);

// Gulf Blue
$color_azul-1: rgb(46, 90, 150);
$color_azul-2: rgb(34, 68, 128);
$color_azul-3: rgb(21, 47, 106);
$color_azul-4: rgb(4, 24, 85);