footer {
    .footer_grid {
        display: grid;
        // grid-auto-columns: 1fr;
        // grid-template-columns: 1fr;
        // grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        background: rgba(0, 0, 0, 0.75);
        color: $color_celeste-4;
        position: relative;
        bottom: 0%;
        width: 100%;
        max-width: 1280px;
        min-height: 125px;
        border-top: 2px solid $color_azul_1;
        grid-auto-flow: row;
        grid-template-areas:
        "changeName"
        "themes"
        "firm";

        @media only screen and(min-width: 900px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            "changeName themes"
            "firm themes";
        }
        
        .themes {
            grid-area: themes;
            margin-left: 10px;
            .container__themes{
                display:flex;
                flex-flow: row wrap;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    &:hover {
                        border: 2px solid $color_azul_4;
                        box-shadow: white 0px 0px 5px;
                    }
                }
                .btn_theme{
                    @include dFlex;
                    width:150px;
                    height:60px;
                }
                #blind_theme{
                    background-color:white;
                    color: black;
                }
                #normal_theme{
                    background-color:rgb(36, 36, 36);
                    color: $color_celeste-1;
                }
                #hack_theme{
                    background-color: black;
                    color:green;
                }
            }
        }
        
        .changeName {
            grid-area: changeName;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            width: 90%;
            input, select, textarea, button{
                background: black;
                color: $color_celeste-1;
            }
        }
        
        .firm {
            grid-area: firm;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
    }
} 