.formulario {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    margin: 10px 10%;
    padding: 2vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    "formulario__consulta formulario__respuesta"
    "none formulario__botonera";
    
    .formulario__consulta { 
        color:rgb(52, 238, 253);
        text-shadow: 0px 0px 5px black;
        grid-area: formulario__consulta;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-end;
        text-align: end;
        label{
            padding: 0px 10px;
        }
    }
    
    .formulario__respuesta {
        grid-area: formulario__respuesta;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-around;
        
        input, select{
            width: 100%;
            background: black;
            color: $color_celeste-1;
        }
    }   
    
    .formulario__botonera { 
        grid-area: formulario__botonera;
        display: flex;
        flex-flow: column nowrap;
        align-items: space-around;
        input {
            padding: 5px;
            background: rgba(255, 255, 255, 0.25);
            width: 100%;
            &:hover {
                background: black;
                border-bottom: 2px solid $color_celeste-1;
                color: white;
                text-shadow: 0px 0px 8px $color_celeste-1, 0px 0px 20px rgb(255, 255, 255);
            }
        }
    }
}

#advertencia {
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke: 1px red;
    margin: 10px 10%;
    padding: 10px;
    background-color: rgba(0, 183, 255, 0.199);
    p {
        font-family: $font_navbar;
    }
}

#formContact{
    display: none;
}