.botonera { 
    @include dFlex;
    flex-flow: column wrap;
    margin: 20px 0px;
    width: 100%;
    input {
        padding: 5px;
        background: rgba(255, 255, 255, 0.25);
        width: 100%;
        &:hover {
            background: black;
            border-bottom: 2px solid $color_celeste-1;
            color: white;
            text-shadow: 0px 0px 8px $color_celeste-1, 0px 0px 20px rgb(255, 255, 255);
        }
    }
}